body {
    background-color: #FFDABC;
    background-image: url("../images/flowers-warm.png");
}

#box {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 15px solid #E58673;
}

input,
button,
a {
    display: block;
}

input,
button {
    margin: auto;
}