* {
    margin: 0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

#coupon-main {
    background-color: #FFDABC;
    background-image: url("../images/flowers-warm.png");
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-family: 'Poppins-Regular';
    padding: 40px;
}

#box {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 15px solid #E58673;
    width: 625px;
}

input,
#join,
#closeCouponModal {
    display: block;
}

input,
#join {
    margin: auto;
}

.coupon-h1 {
    color: #E58673;
    font-size: 96px;
}

.coupon-h2 {
    color: #8A8A8A;
    font-size: 24px;
    padding-bottom: 40px;
}

#closeCouponModal {
    color: #A7A7A7;
    font-size: 16px;
}

input {
    border: 2px solid #8A8A8A;
    width: 545px;
    height: 60px;
    font-size: 35px;
    margin-bottom: 32px;
    padding: 0 0 0 16px;
}

::placeholder {
    color: #A7A7A7;
    font-size: 32px;
}

#join {
    width: 545px;
    height: 60px;
    background-color: #E58673;
    color: white;
    font-size: 24px;
    border: 0;
    margin-bottom: 8px;
}