:root {
--body-margin: 0;
--body-padding: 0;
--text-align: center;

--section-padding: 40px 0;

--best-item-margin: 30px;
--best-item-img-height:30rem;

--section-title-padding: 0 0 40px 0;

--row-margin: 0 50px;
--row-justify: space-between;

--gifts-item-margin: 0 50px 40px;
--gifts-item-img-width:300px;

--gift-section-bg-color: aqua;
--gifts-section-padding: 40 px 0;
}
   
body {
    margin: var(--body-margin);
    padding: var(--body-padding);
    text-align: var(--text-align);
}

section {
    padding: var(--section-padding);
}

/* Classes */
.best-item {
    margin: var(--best-item-margin);
}

.best-item>img {
    height: var(--best-item-img-height);
}

.section-title {
    padding: var(--section-title-padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: var(--row-margin);
    justify-content: var(--row-justify);

}

.gifts-item {
    margin: var(--gifts-item-margin);
}

.gifts-item>img {
    width: var(--gifts-item-img-width);
}

/* Ids */
#row {
    display: flex;
    justify-content: center;
}

#gifts-section {
    background-color: var(--gifts-section-bg-color);
    padding: var
}

/*Media query for screens less than 1125px */
@media (max-width: 1125px) {
    .row {
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }
}
.gifts-item {
    margin:0 0 20px;
}

.gifts-item>img {
    width: 100%;
    max-width:300 px;
}