/* Semantic */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

section {
    padding: 40px 0;
}

/* Classes */
.best-item {
    margin: 30px;
}

.best-item>img {
    height: 30rem;
}

.section-title {
    padding: 0 0 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    justify-content: space-between;

}

.gifts-item {
    margin: 0 50px 40px;
}

.gifts-item>img {
    width: 300px;
}

/* Ids */
#row {
    display: flex;
    justify-content: center;
}

#gifts-section {
    background-color: aqua;
    padding: 40px 0px;
}

