* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#row {
    display: flex;
    justify-content: center;
}

.best-item {
    margin: 30px;
    position: relative;
}

.best-item > img {
    height: 30rem;
}

section {
    padding: 40px 0;
}

h2 {
    padding: 0 0 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    justify-content: space-between;

}

#gifts-section {
    background-color: aqua;
    padding: 40px 0px;
}

.gifts-item {
    margin: 0 50px 40px;
}

.gifts-item > img {
    width: 300px;
}

.gifts-button,
.best-button {
    display: none;
    background-color: #A7A7A7;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    justify-content: center;
}

.best-button {
    bottom: 81px;
}

.gifts-button > a,
.best-button > a {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 50px;
    line-height: 100%;
}

.btnimg:hover + .gifts-button, .gifts-button:hover,
.btnimg:hover + .best-button, .best-button:hover {
    display: inline-flex;
}